<title>{% if seo.title is not empty %}{{ seo.title|e }}{% endif %}</title>
<meta name="description" content="{% if seo.description is not empty %}{{ seo.description|e }}{% endif %}" />
<meta name="robots" content="{{ seo.robots }}">
