{% if organise is not empty %}

    {% if organise.menus is not empty %}

        <ul class="navbar-nav ml-auto">

            {% for organise_item in organise.menus %}

                {% if organise_item.submenus is empty %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ organise_item.alias }}">{{ organise_item.name }}</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ organise_item.alias|default('#') }}">
                            {{ organise_item.name }}
                        </a>
                        <span class="dropdown-toggle"id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for organise_sub_item in organise_item.submenus %}
                                <a class="dropdown-item" href="{{ organise_sub_item.alias }}">{{ organise_sub_item.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>

    {% endif %}

{% endif %}