{% if contents is not empty %}
    <ul class="area-{{ areaName }}">
    {% for content in contents %}
        <li>{{ render(url('render_content', { 'id': content.id, 'tplName': tplName } )) }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ noElementText }}</p>
{% endif %}
