<div id="content-{{ content.id }}" class="content-wrapper" {% if content.code is not empty %}data-code="{{ content.code }}"{% endif %}>
    
    {% if content.highlightpic is not empty %}
        {% if content.readMoreLink is not empty %}
            <a href="{{ content.readMoreLink }}">
        {% endif %}
            <img src="{{ content.highlightpic }}" class="img-fluid" alt="{{ content.title|e }}" />
        {% if content.readMoreLink is not empty %}
            </a>
        {% endif %}
    {% endif %}
    
    <div class="date">{{ content.date|date("F d, Y") }}</div>
    
    {% if content.readMoreLink is not empty %}
        <a href="{{ content.readMoreLink }}">
    {% endif %}
    <{{ titleTagName }} class="title">{{ content.title }}</{{ titleTagName }}>
    {% if content.readMoreLink is not empty %}
        </a>
    {% endif %}
    
    {% if content.content is not empty %}
        <div class="content">{{ content.content|raw }}</div>
    {% endif %}
    
</div>